@import './color-constants.less';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap.css');

h1 {
  margin-left: 8em;
}

textarea {
  font-family: Arial, serif;
}

.header-logo {
  cursor: pointer;
}

.scroll-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.auth-container {
  display: flex;
  flex-direction: column;
  padding: 2em 4em 2em 4em;
  width: 30em;
  margin: auto;
  text-align: left;
  background-color: @form-bg-color;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.left-tab {
  position: absolute;
  left: 0;
  top: 10vh;
  margin-bottom: -6em;
  width: 5em;
  border-radius: 0 6px 6px 0;
  padding: 1em 1.3em 1em 1.3em;
  text-align: center;
  font-size: 16px;
  background-color: @tangerine;
  color: white;
  cursor: pointer;
}

.dash {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.dash-item {
  display: flex;
  flex-direction: column;
  width: 8em;

  .thumb {
    width: 100%;
  }
}


// --------------Events Classes---------------

.event-side-btn {
  width: 10rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn {
  width: 30%;
  padding: 5px 0;
  margin: 10px 0 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.create-form-btn {
  border-radius: 6px;
  font-size: 1.3rem;
  padding: 0 12px;
  cursor: pointer;
}

.btn {
  border: 0;
  background: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: .5rem;
}

.btn--primary {
  background-color: @button-bg;
  color: white;
  border: 1px solid @button-bg;
}

.btn--primary:disabled {
  cursor: auto;
  background-color: @button-bg-disabled;
  border: 1px solid @button-bg-disabled;
}

.btn--primary-selected {
  color: @button-color;
  background-color: @green-apple;
  border: 1px solid @green-apple;
}

.btn--disabled {
  color: @button-color;
  background-color: darkgrey;
  border: 1px solid darkgrey;
}

.btn--secondary {
   color: @tangerine;
   background-color: @button-color;
   border: 1px solid @tangerine;
 }

.btn--secondary-selected {
  color: @button-color;
  background-color: @tangerine;
  border: 1px solid @tangerine;
}

.btn--tertiary {
  color: white;
  background-color: @tangerine;
  border: 1px solid @tangerine;
}


// -------------- FORMS & INPUT ------------------

.form-title {
  font-size: 18px;
  display: block;
  margin-bottom: 1em;
}

// wrapper for fields in forms laid out horizontally next to each other (e.g., first and last name)
.h-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-primary {
  border: 2px solid #888888;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  padding: .5em;
  margin: .5em 0 .5em 0;
}

.half-input {
  width: 43%;
}

.third-input {
  width: 27%;
}

.small-pad-left {
  padding-left: 1rem;
}
.med-pad-left {
  padding-left: 2.5em;
}

.checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 !important;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-label input:checked ~ .checkmark {
  border-color: @tangerine;
  background-color: @tangerine;
}

.checkmark {
  border: 2px solid #888;
  border-radius: 6px;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  background-color: transparent;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 15px;
  top: 10px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-btn-basic {
  border: 2px solid black;
  border-radius: 2px;
  padding: .5rem;
  cursor: pointer;
}

.unselected-form-btn {
  border: 2px solid black;
  border-radius: 2px;
  background-color: @button-bg;
}

.selected-form-btn {
  background: @tangerine;
  border: 2px solid @tangerine;
  color: white;
}

// -------------- LABELS & TEXT ------------------
.dekko-label {
  font-family: 'Dekko';
  font-size: 22px;
}
