@import './color-constants.less';
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap.css');

h1 {
  margin-left: 8em;
}

.header-logo {
  cursor: pointer;
}

.scroll-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.auth-container {
  display: flex;
  flex-direction: column;
  padding: 2em 4em 2em 4em;
  width: 30em;
  margin: auto;
  text-align: left;
  background-color: @form-bg-color;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.left-tab {
  position: absolute;
  left: 0;
  top: 10vh;
  margin-bottom: -6em;
  width: 5em;
  border-radius: 0 6px 6px 0;
  padding: 1em 1.3em 1em 1.3em;
  text-align: center;
  font-size: 16px;
  background-color: @tangerine;
  color: white;
  cursor: pointer;
}

.dash {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.dash-item {
  display: flex;
  flex-direction: column;
  width: 8em;

  .thumb {
    width: 100%;
  }
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  text-align: left;
  font-size: 2.3rem;
}

// -------------- Buttons ---------------

button:focus {
  // remove that pesky outline from around boxes when they're clicked
  outline: none;
}

/* never used on an actual button. Include code that repeats for buttons here and call as a mixin */
.btn--base {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  padding: .5rem 1rem .5rem 1rem;
  color: white;
  transition: .3s;
  min-width: 10rem;
  box-sizing: border-box;
}

.btn--primary-blue {
  .btn--base;
  background-color: @blue-btn-color;
}

.btn--primary-blue:hover {
  transition: .3s;
  background-color: @blue-btn-color-dark;
}

.btn--primary-orange {
  .btn--base;
  background-color: @orange-btn-color;
}

.btn--primary-orange:hover {
  transition: .3s;
  background-color: @orange-btn-color-dark;
}

.btn--secondary-blue {
  .btn--base;
  background-color: white;
  border: 1px solid @blue-btn-color;
  color: @blue-btn-color;
}

.btn--secondary-blue:hover {
  .btn--base;
  background-color: @blue-btn-color-dark;
  border: 1px solid @blue-btn-color-dark;
  color: white;
}

.btn--secondary-orange {
  .btn--base;
  background-color: white;
  border: 1px solid @orange-btn-color;
  color: @orange-btn-color;
}

.btn--secondary-orange:hover {
  .btn--base;
  background-color: @orange-btn-color-dark;
  border: 1px solid @orange-btn-color-dark;
  color: white;
}

// -------------- FORMS & INPUT ------------------

.form-title {
  font-size: 18px;
  display: block;
  margin-bottom: 1em;
}

// wrapper for fields in forms laid out horizontally next to each other (e.g., first and last name)
.h-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-label > .input-primary {
  margin-top: 0;
}
.input-label {
  font-size: 0.9rem;
  text-align: left;
}

.input-primary {
  border: 2px solid #888888;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  padding: .5em;
  margin: .5em 0 .5em 0;
  width: 100%;
}

textarea.input-primary {
  min-width: 100%;
  max-width: 100%;
}

.pronoun-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pronoun-btn {
  border: 2px solid #888;
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 1rem;
  cursor: pointer;

  background-color: transparent;
}
.pronoun-btn-selected {
  border: 2px solid @tangerine;
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;

  background-color: @tangerine;
  color: white;
}
.pronoun-btn-selected:disabled {
  background-color: #FFCC8F;
  border-color: #888;
  color: #888;
  cursor: auto;
}

.third-input {
  width: 27%;
}
.half-input {
  width: 43%;
}
.two-third-input {
  width: 66%;
}

.small-pad-left {
  padding-left: 1rem;
}
.med-pad-left {
  padding-left: 2.5em;
}

.checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 !important;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-label input:checked ~ .checkmark {
  border-color: @tangerine;
  background-color: @tangerine;
}

.checkmark {
  border: 2px solid #888;
  border-radius: 6px;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  background-color: transparent;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 15px;
  top: 10px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.error-input {
  border-color: red;
}
.error-text {
  font-size: 0.8rem;
  color: red;
  text-align: left;
}

// -------------- LABELS & TEXT ------------------
.dekko-label {
  font-family: 'Dekko';
  font-size: 22px;
}


